/*
Theme Name: xinmu-simple
Theme URI: http://xinmu.me
Author: yaxin
Author URI: http://xinmu.me
Description: 简洁的两栏主题，主题参考了Bootstrap的部分样式
Version: 1.0
Tags: dark, light, white, two-columns, left-sidebar,simple
Text Domain: simple
*/

/*/////////Reset default browser CSS. ///////////*/
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
:focus {
	outline: 0;
}
address, caption, cite, code, dfn,
em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
 
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
 
input, button, textarea,
select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {
	font-size: 100%;
}
input, button, textarea, select {
	*font-size: 100%;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
:link, :visited , ins {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}
a {
	color: #2A85E8;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}
a:hover {
	color: #11639D;
}
strong {
	font-weight: bold;
}
input:focus {
	outline:none;
}

body {
	background: url('img/bg.png') repeat;
	font-size: medium;
	line-height: 1.5;
	font-family: 'Verdana',"Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
	color: #333;
	font-weight: 500;
}

/*{{{*/
/*//////////////////Header////////////////*/
.top{height:3px;width:100%;float:left}
.top .color1{width:25%;height:3px;display:block;background-color:#3FA4C5;float:left}
.top .color2{width:25%;height:3px;display:block;background-color:#FFD249;float:left}
.top .color3{width:25%;height:3px;display:block;background-color:#9ACE53;float:left}
.top .color4{width:25%;height:3px;display:block;background-color:#C54E3F;float:left}

header#blog-header {
	margin-bottom: 20px;
}
#site-title {
	width: 940px;
	margin: 0 auto;
}
#site-title a {
	background: url('img/logo.png') no-repeat;
	width: 300px;
	height: 170px;
	display: block;
	text-indent: -9999px;
}
/*/////////////////////main navigation//////////////////*/
#main-menu {
	border-top:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	background-color: #F8F8F8;
	box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);
}
div.mainNavBlock {
	float: left;
}
#innerMenu {
	width: 940px;
	margin: 0 auto;
}
#main-menu ul {
	list-style: none;
	float: left;
	border-left:1px solid #E1E1E1;
}
#main-menu ul li {
	float: left;
	position: relative;
}
#main-menu ul li a {
	padding: 5px 15px;
	display: block;
	font-size: 18px;
	border-right:1px solid #E1E1E1;
	line-height: 30px;
}
#main-menu ul li a:hover {
	background-color: #F2F2F2;
}
#main-menu ul li a.current,#main-menu li.current-cat a,#main-menu li.current_page_item a {
	background-color: #F2F2F2;
}
/*////////////////header search//////////////*/
.header-search {
	float: right;
	height: 40px;
}
.header-search form {
	height: 40px;
}
.header-search form input {
	background: white;
	padding: 5px 10px;
	font-size: 18px;
	float: left;
	border-width: 0 0 0 1px;
	color: #AAA;
	border-color: #E1E1E1;
	border-style: solid;
	width: 110px;
	margin: 0;
	line-height: 30px;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
}
.header-search form input.search-box {
	font-size: 18px;
	padding: 5px;
	border: none;
	height: 30px;
	border-left: 1px solid #E1E1E1;
}
.header-search form input:focus {
	width: 170px;
	outline:none;
}
.header-search input#click-btn {
	cursor: pointer;
	width: 45px;
	height: 40px;
	border-width: 0 1px 0 0;
	border-color: #E1E1E1;
	background: white;
	color: #AAA;
}
/*}}}*/

/*{{{*/
/*///////////////////////////Post-index///////////////////////*/
#container {
	width: 940px;
	margin: 0 auto;
}
section#content {
	width: 698px;
	float: left;
	background-color: #fff;
	border: 1px solid #CCC;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.innerContent {
	padding: 20px;
}
article.post {
	position: relative;
}
.entry-header:after {
	content: '';
	display: block;
	width: 1px;
	height: 40px;
	border-left: 5px solid #2A85E8;
	border-right: 5px solid #EEE;
	position: absolute;
	left: -25px;
	top: 0;
	background: #CCC;
}
.entry-header {
	margin-bottom: 5px;
}
.entry-header h2 {
	font-size: 25px;
	font-weight: bold;
}
aside.entry-info {
	font-size: 13px;
	color: #666;
	margin-bottom: 5px;
}
.entry-content {
	margin-bottom: 10px;
}
.go-on-read {
	float: right;
}
.go-on-read a {
	background-color: #0192DD;
	color: white;
	padding: 5px;
}
.go-on-read a:hover {
	background-color: #11639D;
}
.post hr,.page hr {
border: dashed #DDD;
border-width: 1px 0 0;
clear: both;
margin: 12px 0 18px;
height: 0;
}
/*//////////////////page navigation//////////////*/
.page_nav a {
	padding: 5px 13px;
	border: 1px solid #CCC;
	margin-right: 5px;
	border-bottom: 2px #CCC solid;
	font-size: 18px;
}
.page_nav a:hover {
	border-bottom: solid 2px #00A6FC;
}
.page_nav a.current {
	border-bottom: solid 2px #00A6FC;
	font-weight: bold;
	padding: 5px 13px 4px;
}
/*}}}*/

/*{{{*/
/*////////////////single post&page&archive&search result///////////////////*/
.the-title {
	margin-bottom: 10px;
}
.the-title h2 {
	font-size: 30px;
}
.the-info {
	color: #666;
	font-size: 13px;
}
.post-tags a {
	background-color: whiteSmoke;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
	margin: 3px;
	padding: 4px 5px;
}
.the-info {
	margin-left: 10px;
}
.eof {
	font-size: 21px;
	margin-top: 10px;
	font-weight: bold;
}
/*//////search reslut//////*/
span.search-word {
	color: #2A85E8;
}
h1.search-result-title {
	font-size: 30px;
	text-align: center;
}
hr.search-result-hr {
	border: dashed #DDD;
	border-width: 1px 0 0;
	clear: both;
	margin: 12px 0 18px;
	height: 0;
}
/*}}}*/
/*/////////////////////comments//////////////////////*/
#comments ol, #comments ul, #comments li {
	list-style: none;
}
#commentlist {
	margin-bottom: 10px;
}
li.comment {
	margin-left: 42px;
}
.comment-wrapper {
	position: relative;
}
.comment-author {
	font-size: 13px;
	padding: 10px;
	margin-bottom: 7px;
	height: 14px;
	line-height: 14px;
	background: #EEE;
	border: 1px solid #DDD;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 white;
	-moz-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 white;
}
.comment-author img {
	width: 36px;
	height: 36px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	left: -42px;
	top: 0;
}
.comment-author time {
	position: absolute;
	right: 9px;
	_right: 15px;
	top: 11px;
	color: #999;
}
.comment-content {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 10px;
}
.reply {
	font-size: 12px;
	position: absolute;
	right: 3px;
	bottom: -8px;
	-webkit-transform: translate(0,-10px);
	-webkit-transition: all .4s;
	-moz-transform: translate(0,-10px);
	-moz-transition: all .4s;
	-ms-transform: translate(0,-10px);
	-ms-transition: all .4s;
	-o-transform: translate(0,-10px);
	-o-transition: all .4s;
	transform: translate(0,-10px);
	transition: all .4s;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	_filter: alpha(opacity=100);
	_position: static;
	_text-align: right;
}
.comment-wrapper:hover .reply {
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity =100)";
	filter: alpha(opacity=100);
}

#commentform {
	padding: 13px 13px;
	margin-bottom: 20px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	/*position: relative;*/
}
#cancel-comment-reply-link {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	font-size: 0.8em;
}
#comments input, #comments textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
#comments input, #comments textarea, #comments select {
	display: inline-block;
	padding: 4px;
	font-size: 18px;
	line-height: 18px;
	color: #555;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
}
#comments input:focus, #comments textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}
.required {
	color: red;
}
p.comment-form-author, p.comment-form-email, p.comment-form-url {
	/*width: 33%;*/
	/*position: absolute;*/
}
p.comment-form-comment {
	margin-bottom: 5px;
}
#comment-userinfo label {
	font-size: 1.1em;
}
.comment-form-comment textarea {
	width: 98%;
	resize: vertical;
	font-size: 1.5em;
}
#comments input#submit {
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -ms-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
#comments input#submit:hover, #comments input#submit:active {
	background-color: #e6e6e6;
	background-color: #cccccc \9;
}
#comments input#submit:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
#comments input#submit:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
#comments input#submit:active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	outline: 0;
}
#comments input#submit {
	float: right;
}
/*}}}*/
/*{{{*/
/*///////////404///////////*/
div#page404 {
	font-size: 20px;
	text-align: center;
	width: 940px;
	height: 190px;
	position: absolute;
	left: 50%;
	margin-left: -470px;
	top: 50%;
	margin-top: -105px;
}
p.a {
	font-size: 50px;
}
a#goHome {
	width: 50px;
	height: 50px;
	display: block;
	background: url('img/404.png')  -50px 0 no-repeat;
	text-indent: -9999em;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: 25px;
}
a#goHome:hover {
	background: url('img/404.png')  0 0 no-repeat;
}
#goBack {
	width: 50px;
	height: 50px;
	display: block;
	background: url('img/404.png')  -150px 0 no-repeat;
	cursor: pointer;
	text-indent: -9999em;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -75px;
}
#goBack:hover {
	background: url('img/404.png')  -100px 0 no-repeat;
}
/*}}}*/
/*{{{*/
/*////////////////////////sidebar///////////////////////////*/
section#sidebar {
	width: 220px;
	margin-left: 20px;
	float: left;
	font-size: 14px;
}
#sidebar li {
	list-style: none;
}
#sidebar li.widget {
	background-color: #fff;
	border: 1px solid #CCC;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	padding: 10px;
}
#sidebar li.widget h2 {
	font-size: 20px;
	border-bottom: dashed 1px #DDD;
	padding-bottom: 9px;
	margin-bottom: 5px;
}
#sidebar li.widget ul,#sidebar li.widget div {
	line-height: 1.4;
}
#sidebar ul.children {
	margin-left: 10px;
}
/*////////////search//////////////*/
.widget_search fieldset.search {
	height: 40px;
	width: 180px;
	border: 1px solid #E1E1E1;
}
.widget_search form input {
	background: white;
	padding: 5px 10px;
	font-size: 18px;
	float: left;
	color: #AAA;
	width: 125px;
	margin: 0;
	line-height: 30px;
}
.widget_search form input#click-btn {
	cursor: pointer;
	width: 45px;
	height: 40px;
	background: white;
	color: #AAA;
	border: none;
}
.widget_search form input.search-box {
	font-size: 18px;
	padding: 5px;
	border: none;
	height: 30px;
}

/*////////////calendar////////////*/
#sidebar .widget_calendar #wp-calendar {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
#sidebar .widget_calendar #wp-calendar tbody tr td:hover {
	background-color: #11639D;
	cursor: pointer;
	color: white;
	cursor: pointer;
}
#sidebar .widget_calendar #wp-calendar tbody tr td.pad:hover {
	background-color: #fff;
}
#wp-calendar #today {
	background: #0192DD;
}
#wp-calendar tbody a {
	font-weight: bold;
}
#wp-calendar tbody a:hover {
	color: #fff;
}
#wp-calendar caption {
	font-family: Arial;
	font-weight: bold;
	letter-spacing: -0.05em;
	font-size: 15px;
}
#wp-calendar th, #wp-calendar td {
	text-align: center;
	padding: 5px;
}
#wp-calendar tbody td {
	border: 1px solid #CCC;
	padding: 5px;
}
#wp-calendar tbody td.pad {
	border: 0 none;
}
#wp-calendar th {
	background: #999;
	color: #FFF;
}
#wp-calendar td#prev {
	text-align: left;
}
#wp-calendar td#next {
	text-align: right;
}
/*}}}*/
/*//////////////////footer/////////////////*/
footer#footer {
	clear: both;
	text-align: center;
	margin: 20px;
}

/*{{{*/
/*///////////////////Post style//////////////////////*/
.the-post {
	font-size: 17px;
}
.the-post h1, .the-post h2, .the-post h3, .the-post h4, .the-post h5, .the-post h6{
	font-weight: 500;
	font-weight: 800\9;
	color:#333;
}
.the-post h2 {
	font-size: 1.7em;
	margin-bottom: 10px;
}
.the-post h3 {
	font-size: 1.6em;
	margin-bottom: 10px;
}
.the-post h4 {
	font-size: 1.5em;
	margin-bottom: 10px;
}
.the-post p {
	margin-bottom: 10px;
}
/*//////The pre and code tag//////*/
.the-post pre,.the-post code {
	font-family: "Courier New", Courier, monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.the-post pre {
	border: 1px solid #ddd;
	border-left-width: 6px;
	background: #fbfbfb;
	padding: 10px;
	margin-bottom: 10px;
}
.the-post pre p {
	margin-bottom: 0;
}
.the-post code {
	color: #666;
}
.the-post code p {
	margin-bottom: 0;
}
/*//////blockquote//////*/
.the-post blockquote {
	background: url("img/quote.png") no-repeat scroll 97% 93% #EEE;
	color: #555;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 16px 0 10px 30px;
	padding: 10px;
}
.the-post blockquote blockquote {
	margin-right: 59px;
	background-color: #ddd;
	background-image:none;
}
.the-post blockquote p {
	text-indent: 0;
	margin-bottom: 0;
}
/*//////post ul and ol//////*/
.the-post ol,.the-post ul {
	list-style: none;
	margin-left: 25px;
	margin-bottom: 10px;
}
.the-post ul {
	list-style: disc;
}
.the-post ol {
	list-style: decimal;
}
.the-post img {
	max-width: 650px;
	margin-bottom: 10px;
}
acronym, abbr {
	border-bottom: 1px dotted;
	font-variant: normal;
}
abbr {
	cursor: help;
}
del {
	text-decoration: line-through;
}
small {
	font-size: 12px;
	color: #888;
}
/*}}}